
.heading{
    text-align: center;
}

.add-problem-container {
    padding: 20px;
    /* max-width: 800px; */
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.form-group .error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.test-case {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
}

.test-case .form-group {
    margin-bottom: 10px;
}

.test-case button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

button[type="button"],
button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button[type="submit"] {
    background-color: #28a745;
    display: block;
    margin: 20px auto;
}

button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"]:hover {
    background-color: #218838;
}

.add-test-case-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-test-case-button button {
    background-color: #ffc107;
}

.add-test-case-button button:hover {
    background-color: #e0a800;
}
