:root {
  --tw-bg-opacity: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(12, 12, 12, 0.95);
  color: #fff;
  padding: 15px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.navbar-brand:hover {
  color: #ccc;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  font-size: 1.1rem;
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.navbar-link:hover {
  color: #1e90ff; /* Blue on hover */
  text-decoration: underline;
}

.navbar-item {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  z-index: 1000;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.navbar-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #555;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: nowrap; /* Prevent wrapping of navbar items */
    padding: 10px 20px;
  }

  .navbar-right {
    display: flex; /* Ensure items stay in a row */
    flex-direction: row; /* Explicitly set direction to row */
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-link {
    margin-left: 15px;
    font-size: 1rem;
  }

  .dropdown-menu {
    position: absolute; /* Retain position for dropdowns */
    margin-top: 5px;
    box-shadow: none;
    border-radius: 4px;
  }

  .dropdown-item {
    font-size: 1rem;
  }
}
