/* ProblemDetails.css */

.problem-details-page {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb 25%, #2575fc 50%, #ff00c8 75%, #f7b733 100%);
    align-items: flex-start; /* Align items to the top */
    /* margin-top: 20px; */
    min-height: 100vh; /* Ensure the page fills the viewport height */
  }
  
  .left-half {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .right-half {
    width: 50%;
    /* Optionally add styles for the right half */
  }
  
  .left-half .problem-details-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Fill the container height */
  }
  
  .left-half .problem-name {
    font-size: 35px;
    color: #320f9b;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .left-half .problem-statement {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }
  
  .left-half .section-heading {
    font-size: 18px;
    color: #2c3e50;
    margin-bottom: 10px;
  }
  
  .left-half .code-block {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .left-half .problem-info {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
  }
  
  .left-half .info-item {
    margin-bottom: 10px;
  }
  
  .left-half .info-label {
    font-size: 16px;
    color: #555555;
    margin-bottom: 5px;
  }
  
  .left-half .info-value {
    font-size: 16px;
    color: #333333;
  }
  