.problem-details-page {
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #6a11cb 25%, #2575fc 50%, #ff00c8 75%, #f7b733 100%);
  align-items: flex-start;
  min-height: 100vh;
}

.left-half {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.left-half .problem-details-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.left-half .problem-name {
  font-size: 35px;
  color: #320f9b;
  margin-bottom: 10px;
  text-align: center;
}

.left-half .problem-statement {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
  white-space: pre-wrap;
}

.left-half .section-heading {
  font-size: 18px;
  color: #2c3e50;
  margin-bottom: 10px;
}

.left-half .code-block {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
}

.left-half .problem-info {
  display: flex;
  flex-direction: column;
}

.left-half .info-item {
  margin-bottom: 10px;
}

.left-half .info-label {
  font-size: 16px;
  color: #555555;
  margin-bottom: 5px;
}

.left-half .info-value {
  font-size: 16px;
  color: #333333;
}


.right-half {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh; /* Ensure it occupies full height */
}

.right-half .code-editor-container {
  width: 91%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.right-half .select-language {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right-half .code-editor {
  flex-grow: 1;
  margin-bottom: 1rem;
  /* height: 20vh; */
}

.right-half .button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem; /* Adjust margin to position below textarea */
}

.right-half .run-button, .submit-button {
  width: 48%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.run-button {
  background-color: #4caf50;
  color: white;
}

.submit-button {
  background-color: #2196f3;
  color: white;
}

.right-half .tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}

.right-half .tab-button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* background-color: #3d0ee6 ; */
  /* color:white; */
}

.right-half .tab-button.active {
  background-color: #cccccc;
}

.right-half .tab-content {
  width: 100%;
  background-color: #f7fafc;
  padding: 1rem;
  border-radius: 5px;
}

.right-half .input-container, .output-container, .verdict-container {
  display: flex;
  flex-direction: column;
}

.right-half .input-heading, .output-heading, .verdict-heading {
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.right-half .input-textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right-half .output-container pre, .verdict-container pre {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  white-space: pre-wrap;
  font-family: 'Courier New', Courier, monospace;
  height: 150px;
  overflow-y: auto;
}
